.AgreeBox {
  border: 1px solid #D9D9D9;
  font-size: 13px;
  margin: 0px 20px;
  width: 100%;
  padding: 10px;
  max-height: 180px;
  overflow: auto;
}

.AgreeBox::-webkit-scrollbar{
  width: 9px;
  border-radius: 30px;
}

.AgreeBox::-webkit-scrollbar-thumb{
  background-color: #b0b0b0;
  border-radius: 30px;
}