.ManageShareContainer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border: 1px solid #d0d0d0;
  border-radius: 30px;
  width: 85%;

  .table {
    border-collapse: separate;
    border-spacing: 20px;
    margin: 0 auto;
  }

  .th {
    width: 35%;
    text-align: right;
  }

  .td {
    width: 65%;
  }

  .form_radio_btn {
    width: 30%;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    display: inline-block;
    margin: 0 3px 5px 3px;
  }

  .form_radio_btn input[type="radio"] {
    display: none;
  }

  .form_radio_btn label {
    display: block;
    cursor: pointer;
    border-radius: 10px;
    font-size: 0.8rem;
    text-align: center;
    height: -webkit-fill-available;
    line-height: 45px;
  }

  /* Checked */
  .form_radio_btn input[type="radio"]:checked + label {
    background: #fada5e;
    color: #fff;
    box-shadow: none;
  }

  /* Disabled */
  .form_radio_btn input[type="radio"] + label {
    background: #f9fafc;
    color: #b0b0b0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .input {
    font-family: NotoSansKR-400;
    float: left;
    width: 60%;
    height: 43px;
    font-size: 60%; 
    border: 1px solid #b0b0b0;
    outline: none;
    background: #ffffff;
    text-align: center;
    border-radius: 10px;
    padding: 0 2px;
  }

  input::-webkit-input-placeholder {
    color: #b0b0b0;
    font-size: 0.8rem;
  }
  input:-ms-input-placeholder {
    color: #b0b0b0;
    font-size: 0.8rem;
  }
  textarea::-webkit-input-placeholder {
    color: #b0b0b0;
    font-size: 0.8rem;
  }
  textarea:-ms-input-placeholder {
    color: #b0b0b0;
    font-size: 0.8rem;
  }

  @include desktop {
    min-width: 1300px;
    max-width: 1800px;
    .th {
      min-width: 455px;
      max-width: 845px;
    }
    .td {
      min-width: 845px;
      max-width: 1170px;
    }

    .form_radio_btn {
      max-width: 198px;
      min-width: 165px;
    }
  }

  @include big_laptop {
    min-width: 900px;
    max-width: 1024px;
    .th {
      min-width: 315px;
      max-width: 358.4px;
    }
    .td {
      min-width: 585px;
      max-width: 665.6px;
    }
    .form_radio_btn {
      max-width: 112px;
      min-width: 112px;
    }
  }

  @include small_laptop {
    min-width: 660px;
    max-width: 768px;

    .th {
      min-width: 231px;
      max-width: 268.8px;
    }
    .td {
      min-width: 429px;
      max-width: 499.2px;
    }

    .form_radio_btn {
      max-width: 82px;
      min-width: 82px;
    }
  }
}
