.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.d_block {
  display: block;
  color: red;
}
.d_none {
  display: none;
}
.d_flex {
  display: flex;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* font */
@font-face {
  font-family: "NotoSansKR-400";
  src: url("./fonts/NotoSansKR-Regular.otf");
}

@font-face {
  font-family: "NotoSansKR-700";
  src: url("./fonts/NotoSansKR-Bold.otf");
}

@font-face {
  font-family: "NotoSansKR-300";
  src: url("./fonts/NotoSansKR-Light.otf");
}

@font-face {
  font-family: "NotoSansKR-500";
  src: url("./fonts/NotoSansKR-Medium.otf");
}