.input {
  width: 300px;
  height: 43px;
  font-size: 20px;
  border: 1px  solid #B0B0B0;
  outline: none;
  margin: 5px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

input::-webkit-input-placeholder {
  color: #B0B0B0;
  font-size: 0.85rem; 
}
input:-ms-input-placeholder {
  color: #B0B0B0;font-size: 0.85rem; 
}
textarea::-webkit-input-placeholder {
  color: #B0B0B0;font-size: 0.85rem; 
}
textarea:-ms-input-placeholder {
  color: #B0B0B0;font-size: 0.85rem; 
}

.button{
  width: 42%;
  height: 45px;

  background: #FADA5E;
  border-radius: 10px;
  border:#FADA5E;
  font-family: "NotoSansKR-700";
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}
