.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 111;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: default;
}

.box {
  width: 460px;
  //padding: 10px;

  background: #ffffff;
  border: 0.5px solid #b0b0b0;
  border-radius: 10px;

  text-align: left;
  font-family: NotoSansKR-400;

  // 최상단 위치
  z-index: 999;

  /* 중앙 배치 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 닫히는 것 방지 */
}

.container {
  max-height: 530px;
  overflow-y: scroll;
}

.agree {
  margin: 0px 20px;
  font-family: "NotoSansKR-400";
  font-size: 0.9rem;
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 12px 0px;
}

.left {
  float: left;
  width: 13%;
}

.right {
  float: left;
  width: 69%;
  text-align: left;

  align-items: center;
  justify-content: left;
  display: flex;
  vertical-align: middle;
}

.later {
  width: 18%;
  height: 20px;
  float: left;
  background: #fada5e;
  border-radius: 10px;
  font-size: 0.7rem;
  padding: 3px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
  cursor: pointer;
}

.button {
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;

  background: #d9d9d9;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 30px;
}
