.Container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-display: block;
}

.OuterBox{
  font-family: NotoSansKR-700;
  
}
.TextBox{
  font-size: 30px;
  line-height: 43px;
  color: #464646;
}

.InnerBox{
  margin: 60px 0px;
}

.CommentBox{
  width: 600px;
  height: 65px;
  background: #f8f8f8;
  color: #464646;
  font-size: 20px;
  border-radius: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding : 3px;
  margin-bottom: 30px;
}

.text1:before{
  content:'📚'
}

.text2:before{
  content:'💡'
}

.LoginBox{
  text-align: center;
}

.LoginInfoBox{
  font-size: 15px;
  color: #464646;
  font-family: NotoSansKR-500;
}