
.header{
  position: fixed;
  /*left: 0;*/
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #FFF48C;
}

.contents {
  display: flex;
  width: 100%;
  /*max-width: 1100px;*/
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}


.navigation > ul{
  display: flex;
  list-style: none;
}

.navigation > ul > button{
  margin-left: 30px;
}
