.white {
  cursor: pointer;
  width: 180px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  border: 1px solid var(--gray, #a7a7a7);
  background: #fff;
  &:hover {
    background: var(--light-gray, #f0f0f0);
  }
}
.white span {
  color: #1E1E1E;
text-align: center;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 16px; 
letter-spacing: -0.32px;
}

.yellow {
  cursor: pointer;
  width: 180px;
  height: 48px;
  padding: 12px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 12px;
  background: var(--loyal-yellow, #fada5e);
  &:hover {
    background: #dfb71c;
  }
}
.yellow span {
  color: var(--, #464646);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
  letter-spacing: -0.32px;
}
