.footer{
  background: #F5F5F5;
  width: 100%;
  bottom: 0;
  height:240px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.contents{
  display: block;
  justify-content: center;
}

.title{
  font-weight: 600;
  font-size: 20px;
  color: black;
}