.footer{
  background: #F5F5F5;
  width: 100%;
  bottom: 0;
  height:240px;
  display: flex;
  justify-content: center;
}

.contents{
  display: flex;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.title{
  font-weight: 600;
  font-size: 20px;
  color: black;
}